{
  "singleQuote": true, // Usar aspas simples
  "semi": true, // Adicionar ponto e vírgula
  "tabWidth": 2, // Tamanho do tab
  "trailingComma": "es5", // Adicionar vírgula no final de objetos/arrays
  "endOfLine": "lf"

}